<!DOCTYPE html>
<html>

<head>
    <title>Utopia</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="icon" type="image/ico" href="/asset/sunny.ico">

    <script src="/library/jquery-3.4.0.min.js"></script>
</head>
<style>
    .navbar a {
        color: white !important;
    }
</style>

<body style=" background-color:#f7f7f7">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #57A0D3!important; color:white">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="/"><i class="far fa-paper-plane" style="font-size: 1.5rem;"></i>Utopia</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weddings-and-events">Weddings And Events</a>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <%} else {%>
                <li class="nav-item">
                    <% if(currentUser.username!="admin"){ %>
                    <a class="nav-link " id="profile-link" href="/profile">
                        <strong>Hi , <%= currentUser.username %></strong>
                        <img class="rounded-circle" style="height: 30px; width:30px" src="<%=currentUser.Avatar%>">
                    </a>
                    <% } else { %>
                    <a class="nav-link " id="profile-link" href="/dashboard">
                        <strong>Hi , <%= currentUser.username %></strong>
                        <img class="rounded-circle" style="height: 30px; width:30px" src="<%=currentUser.Avatar%>">
                    </a>
                    <% } %>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>