<!DOCTYPE html>
<html>
    <head>
        <title>Magneton</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-sm bg-dark >
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Magneton</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Explore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Meetings and Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Weddings</a>
            </li>   
    </nav>