body{
    padding-top: 80px;
}
button{
    border-radius: 0%!important;
}
.mg{
    margin: 0 5%;
}
input .form-control{
    width: 70%!important;
}
.bt{
    width:70px;
}
label{
    width: 20%!important;
}