body{
    background-color: #e9ecef;
    color: 	#002263;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
.thumbnail{
    min-width: 100%!important;
    max-height: 450px!important;
}
.rounded{

    width: 100%;
    height: 200px;
}
a{
    text-decoration: none!important;
}
