.thumbnail{
    min-width: 100%!important;
    max-height: 450px!important;
}
a {
    text-decoration: none !important;
}
#link{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #57A0D3!important;
    border-radius: 0;
    color:white;
}
#form{
    margin: 3% 10%;
    background: #fffcf6!important;
}
.row{
    text-align: center;
}
.cl h1,.cl h2,.cl h3,.cl h4{
    color: 	rgb(128, 128, 192);
}
.cl{
    margin-top: 5%;
    margin-bottom: 5%;
}
.col-md-6{
    background-color: #dee2e6!important;
}
a .row {
    border: 0px solid powderblue;
    transition: 0.3s;
}
a .row:hover{
    border: 2px solid powderblue;
}
.row:nth-child(odd) {
    flex-wrap: wrap;
}
.row:nth-child(even) {
    flex-wrap: wrap-reverse;
}
@media(max-width:800px){
    img{
        width: 70%;
        margin: 0 auto;
    }
    
}
@media(max-width:500px){
    img{
        width: 80%;
        margin: 0 auto;
    }
}