<% include partials/header.ejs%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<% gallery.forEach(function(image){ %>
    <div class="col-md-3 col-sm-6 text-center">
        <% console.log(image); %>
        <img src="<%=image.url%>" class="img-thumbnail" height="200">
        <div class="caption">
            <h4><%=image.name%></h4>
        </div>
        <p>
            <a href="/gallery/<%=image._id%>" class="btn btn-primary">Show Info</a>
        </p>
    </div>
<% }) %>
    
</div>

<% include partials/footer.ejs%>