<% include partials/header.ejs%>

<header class="jumbotron">
    <h1>Utopia</h1>
    <p>Beyond the world</p>
    <a class="btn btn-dark" href="/new" role="button">New Image</a>
</header>
<h1>This is homepage</h1>


<% include partials/footer.ejs%>