<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/loginStyle.css">
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Login</h3>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username *" value="" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value=""
                            name="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Forget Password?</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Sign Up</h3>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username *" value="" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value=""
                            name="password" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Retype Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email *" value="" name="email" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Signup" />
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var active = 1;
    $(".login-form-1").click(function () {
        if (active == 1) {
            $(".login-form-1 h3").text("Login");
            $(".login-form-2 form").hide();
            $(".login-form-2 h3").text("Sign up Here");
            $(".login-form-1 form").show();
            active = 0;
        }
    });
    $(".login-form-2").click(function () {
        if (active == 0) {
            $(".login-form-2 h3").text("Sign up");
            $(".login-form-2 form").show();
            $(".login-form-1 h3").text("Login Here");
            $(".login-form-1 form").hide();
            active = 1;
        }
    });
    if ("<%= method %>" == "login") { active = 1; $(".login-form-1").click(); }
    else { active = 0; $(".login-form-2").click(); }
</script>

</html>