<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/reserve" method="POST">
        <input type="date" name="in">
        <input type="date" name="out">
        <input type="number" name="number" value="1">
        <select name="name">
            <option value="Palladian Suite">Palladian Suite</option>
            <option value="Courtyard Room">Courtyard Room</option>
            <option value="Heritage Room">Heritage Room</option>
            <option value="Postmaster Room">Postmaster Room</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>