<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Utopia</title>
    <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * Firebase Console > Overview > Add Firebase to your web app. *
       ***************************************************************************************** -->

</head>

<body>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
    <h1 style="text-align:center;">Please verify your phone number</h1>
    <div id="firebaseui-auth-container"></div>
</body>

</html>