<!DOCTYPE html>
<html>

<head>
    <title>Utopia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: #e9ecef;
        height: 100vh;
    }

    div {
        text-align: center;
        padding-top: 15%;
    }

    .w {
        min-width: 100px;
    }
</style>

<body>
    <div class="top">
        <h2>You don't have authorization to access this page</h2>
        
        <a class="btn btn-primary w" href="/">Homepage</a>
        <span style="margin:0% 5px;">or</span>
        <% if(!checkLogin.isLoggedin) {%>
        <a class="btn btn-primary w" href="/login">Login</a>
        <% } else {%>
        <a class="btn btn-primary w" href="/logout">Logout</a>
        <% } %>
    </div>
    <% include partials/footer.ejs%>